In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

In [3]:
asx_list = pd.read_csv('assets/ASX_companies_list.csv')

In [11]:
asx_list['Total Shares'] = asx_list['Market Cap']/asx_list['Last trade']
asx_list = asx_list[['Code', 'Company', 'Sector', 'Market Cap', 'Total Shares', 'Last trade']]
asx_list

,Code,Company,Sector,Market Cap,Total Shares,Last trade
0,ASX:BHP,BHP Group Limited (ASX:BHP),Materials,238991000000,5.062296e+09,47.21
1,ASX:CBA,Commonwealth Bank (ASX:CBA),Financials,172512000000,1.663728e+09,103.69
2,ASX:CSL,CSL Limited (ASX:CSL),Health Care,124602000000,4.827851e+08,258.09
3,ASX:NAB,National Australia Bank (ASX:NAB),Financials,87396900000,3.124666e+09,27.97
4,ASX:FMG,Fortescue Metals Group (ASX:FMG),Materials,76820200000,3.069125e+09,25.03
...,...,...,...,...,...,...
2761,ASX:RCO,Royalco Resources (ASX:RCO),Materials,0,NaN,0.00
2762,ASX:CVO,Cover-More Group (ASX:CVO),Financials,0,NaN,0.00
2763,ASX:AYS,Amaysim Australia (ASX:AYS),Utilities,0,NaN,0.00
2764,ASX:BAL,Bellamy's Australia Limited (ASX:BAL),Consumer Staples,0,NaN,0.00
2765,ASX:DET,Dealt Limited (ASX:DET),Real Estate,0,NaN,0.00

In [3]:
msft = yf.Ticker("MSFT")
data = msft.history(period="3mo", interval="1wk")

In [11]:

(data['Close'] - data['Open']) / data['Open'] * 100

pandas.core.series.Series

In [21]:
yf.Ticker("BHP.AX").history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-10-24 00:00:00+11:00,43.599998,43.740002,43.380001,43.590000,5914150,0.0,0.0
2023-10-25 00:00:00+11:00,44.580002,44.900002,44.169998,44.720001,8532512,0.0,0.0
2023-10-26 00:00:00+11:00,44.790001,45.090000,44.540001,44.930000,9027716,0.0,0.0
2023-10-27 00:00:00+11:00,44.930000,45.189999,44.759998,45.060001,5631295,0.0,0.0
2023-10-30 00:00:00+11:00,45.500000,45.549999,44.939999,45.110001,7990129,0.0,0.0
2023-10-31 00:00:00+11:00,45.400002,45.450001,44.270000,44.500000,11329509,0.0,0.0
2023-11-01 00:00:00+11:00,44.700001,45.264999,44.680000,45.189999,6281691,0.0,0.0
2023-11-02 00:00:00+11:00,45.689999,45.790001,45.160000,45.380001,8806462,0.0,0.0
2023-11-03 00:00:00+11:00,45.799999,45.880001,45.430000,45.500000,6766318,0.0,0.0
2023-11-06 00:00:00+11:00,45.320000,45.439999,44.959999,45.439999,9127994,0.0,0.0
2023-11-07 00:00:00+11:00,45.439999,45.639999,45.130001,45.560001,4608816,0.0,0.0
2023-11-08 00:00:00+11:00,44.830002,44.849998,44.064999,44.700001,11422915,0.0,0.0
2023-11-09 00:00:00+11:00,44.869999,45.130001,44.750000,44.950001,7626532,0.0,0.0
2023-11-10 00:00:00+11:00,45.290001,45.400002,45.160000,45.270000,4799475,0.0,0.0
2023-11-13 00:00:00+11:00,45.680000,45.799999,45.320000,45.400002,4585409,0.0,0.0
2023-11-14 00:00:00+11:00,45.840000,46.119999,45.669998,46.020000,6164940,0.0,0.0
2023-11-15 00:00:00+11:00,46.880001,47.090000,46.730000,46.840000,9346736,0.0,0.0
2023-11-16 00:00:00+11:00,46.709999,46.849998,46.349998,46.560001,8478184,0.0,0.0
2023-11-17 00:00:00+11:00,46.549999,46.779999,46.520000,46.610001,7512340,0.0,0.0
2023-11-20 00:00:00+11:00,46.599998,46.740002,46.279999,46.740002,5115952,0.0,0.0
2023-11-21 00:00:00+11:00,46.799999,47.669998,46.750000,47.400002,9578236,0.0,0.0
2023-11-22 00:00:00+11:00,47.720001,47.930000,47.700001,47.840000,4959138,0.0,0.0
2023-11-23 00:00:00+11:00,47.520000,47.560001,46.590000,47.150002,4978743,0.0,0.0
2023-11-24 00:00:00+11:00,47.150002,47.419998,47.035000,47.209999,3029644,0.0,0.0